<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagina Principal ERP</title>
</head>
<body>
    <h1>Página Principal ERP</h1>
    <div>
        <a href="/funcionarios">Funcionários</a>
        <a href="/produtos">Produtos</a>
        <a href="/vendas">Vendas</a>
        <a href="/produtos/novo">Novo Produto</a>
        <a href="/funcionarios/novo">Novo Funcionário</a>
        <a href="/vendas/novo">Nova Venda</a>
        <a href="/produtos/detalhe">Detalhe de Produtos</a>
        
    </div>
</body>
</html>